<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Page not found - Error 404</title>
  <link th:href="@{/styles/main.css}" rel="stylesheet" href="../static/styles/main.css" />
</head>
<body>
<div layout:fragment="content">
  <h1>Page not found - Error 404</h1>
  The page that you are looking for doesn't exists <br>
  <a href="/" class="button">Go to Home</a>
</div>
</body>
</html>