<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{editor/layout}">
<head>
  <title>Fights list</title>
</head>
<body>
<div layout:fragment="content">

<h1>Fights</h1>

<a th:href="@{/editor/fights/new}" class="button small secondary">Create fight</a>
<table th:if="${fights}">
  <thead>
  <tr>
    <th>Date</th>
    <th>Fighters</th>
    <th>Number of rounds</th>
    <th>Place</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="fight : ${fights}">
    <td th:text=${fight.happenAt}>1983-11-05</td>
    <td><a th:href="@{/fights/{id}(id=${fight.id().value()})}"><span th:text=${fight.firstBoxerName}>Mohamed Ali</span> vs <span th:text=${fight.secondBoxerName}>George Forman</span></a></td>
    <td><span th:text=${fight.numberOfRounds}>12</span> rounds</td>
    <td><span th:text=${fight.place}>Zaire</span> </td>
    <td><a th:href="@{/editor/fights/{id}(id=${fight.id().value()})}">Edit the fight</a></td>
  </tr>
  </tbody>
</table>
</div>
</body>
</html>