<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Welcome to Scorecards</title>
  <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-analytics.js"></script>
  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyCA_rTGVaULBkoIFrWjpf_3nWe-Ar0kNUI",
      authDomain: "scorecards-biera.firebaseapp.com",
      databaseURL: "https://scorecards-biera.firebaseio.com",
      projectId: "scorecards-biera",
      storageBucket: "scorecards-biera.appspot.com",
      messagingSenderId: "558309269448",
      appId: "1:558309269448:web:f94c8b0103029cabc9eafd",
      measurementId: "G-L5RM3TH66D"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();

  </script>
  <script src="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.js"></script>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.css"/>
  <script type="text/javascript">
      // FirebaseUI config.
      var uiConfig = {
        signInSuccessUrl: '/',
        signInOptions: [
          firebase.auth.GoogleAuthProvider.PROVIDER_ID
        ],
      };

      var ui = new firebaseui.auth.AuthUI(firebase.auth());
      ui.start('#firebaseui-auth-container', uiConfig);

      initApp = function() {
        firebase.auth().onAuthStateChanged(function(user) {
          if (user) {
            // User is signed in.
            var displayName = user.displayName;
            var email = user.email;
            var emailVerified = user.emailVerified;
            var photoURL = user.photoURL;
            var uid = user.uid;
            var phoneNumber = user.phoneNumber;
            var providerData = user.providerData;
            user.getIdToken().then(function(accessToken) {
              document.getElementById('sign-in-status').textContent = 'Signed in';
              document.getElementById('account-details').textContent = JSON.stringify({
                displayName: displayName,
                email: email,
                emailVerified: emailVerified,
                phoneNumber: phoneNumber,
                photoURL: photoURL,
                uid: uid,
                accessToken: accessToken,
                providerData: providerData
              }, null, '  ');
              document.getElementById('create-account').style.display = '';
              document.getElementById('create-account').setAttribute('href', '/accounts/new/' + accessToken);
            });
          } else {
            // User is signed out.
            document.getElementById('sign-in-status').textContent = 'Signed out';
            document.getElementById('account-details').textContent = 'null';
          }
        }, function(error) {
          console.log(error);
        });
      };

      window.addEventListener('load', function() {
        initApp();
      });

  </script>
</head>
<body>
<h1>Welcome to Scorecards</h1>
<div id="firebaseui-auth-container"></div>
<div>
  <a id="create-account" href="" style="display:none">Create new account in ScoreCards</a>
  <br><br><br>
</div>
<div id="sign-in-status"></div>
<pre id="account-details"></pre>
</body>
</html>