<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/backoffice/assets/css/foundation.css}" rel="stylesheet" href="../../static/editor/assets/css/foundation.css"/>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Scorecards</title>
    <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-analytics.js"></script>
    <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyCA_rTGVaULBkoIFrWjpf_3nWe-Ar0kNUI",
      authDomain: "scorecards-biera.firebaseapp.com",
      databaseURL: "https://scorecards-biera.firebaseio.com",
      projectId: "scorecards-biera",
      storageBucket: "scorecards-biera.appspot.com",
      messagingSenderId: "558309269448",
      appId: "1:558309269448:web:f94c8b0103029cabc9eafd",
      measurementId: "G-L5RM3TH66D"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
    </script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.css"/>
    <script type="text/javascript">
      initApp = function() {
        firebase.auth().onAuthStateChanged(function(user) {
          if (user) {
            console.log(user);
            user.getIdToken(true).then(function(accessToken) {
              console.log(accessToken);
              document.cookie = "access_token=" + accessToken + ";path=/";
            });
          }
        }, function(error) {
          console.log(error);
        });
      };

      window.addEventListener('load', function() {
        initApp();
      });
    </script>
</head>
<body>
<!--/* Header fragment */-->
<nav th:replace="fragments/header :: header">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be replaced -->
    <!-- with "fragments/header.html" at runtime.                                     -->
    <!-- ============================================================================ -->
    <div>
        <div>
            <ul>
                <li class="active"><a href="#">Home</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="grid-container">
    <div layout:fragment="content">
        <!-- ============================================================================ -->
        <!-- This content is only used for static prototyping purposes (natural templates)-->
        <!-- and is therefore entirely optional, as this markup fragment will be included -->
        <!-- from "fragments/header.html" at runtime.                                     -->
        <!-- ============================================================================ -->
        <h1>Static content for prototyping purposes only</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
            Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
            Phasellus et placerat elit.
        </p>
    </div>
    <div th:replace="fragments/footer :: footer">Some content for the footer</div>
</div>
</body>
</html>