<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <title th:text="${account.name() + ' scorecards - ' + account.username()}">Dani Latorre scorecards - danilat</title>
  <link th:href="@{/styles/main.css}" rel="stylesheet" href="../static/styles/main.css" />
</head>
<body>
<div layout:fragment="content">
<h1>Scores in the account <span th:text=${account.name()}>Dani Latorre</span></h1>
<p th:text=${account.username()}>danilat</p>
<img src="https://picsum.photos/200/300" th:src=${account.picture()}>
<ul th:if="${scorecards}">
  <li th:each="scorecard : ${scorecards}">
    <span th:text=${scorecard.getScoredAt()}></span> |
    <span th:text=${scorecard.firstBoxerName}></span>: <span th:text=${scorecard.firstBoxerScore}></span>
    <span th:text=${scorecard.secondBoxerName}></span>: <span th:text=${scorecard.secondBoxerScore}></span>. <span
      th:text=${scorecard.place}></span>, <span th:text=${scorecard.happenAt}></span>
    <br>
    <a th:href="@{/fights/{id}(id=${scorecard.fightId.value()})}">Go to the fight</a>
    <br>

  </li>
</ul>
</div>
</body>
</html>