<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <title th:text="${'Fight: ' + fight.firstBoxerName + ' vs ' + fight.secondBoxerName}">Fight: Mohamed Ali vs George Foreman</title>
  <link th:href="@{/styles/main.css}" rel="stylesheet" href="../static/styles/main.css" />
</head>
<body>
<div layout:fragment="content">
  <h1><span th:text=${fight.firstBoxerName}>Mohamed Ali</span> vs <span th:text=${fight.secondBoxerName}>George Foreman</span></h1>
  <p><span th:text=${fight.numberOfRounds}>12</span> rounds of fight</p>
  <h2><span th:text=${fight.place}></span> <span th:text=${fight.happenAt}>30-10-1974</span></h2>




<div th:if="${currentAccount}">
  <h3>Score the fight <span th:text=${fight.firstBoxerName}>Mohamed Ali</span> vs <span th:text=${fight.secondBoxerName}>George Foreman</span>:</h3>

  <div class="callout alert small" th:if="${errors}">
    <h5>There is some error scoring the fight:</h5>
    <ul>
      <li th:each="err : ${errors}">
        <span th:text="${err.message}"></span>
      </li>
    </ul>
  </div>
  <table>
    <thead>
    <tr>
      <td>Boxers</td>
      <td th:text=${fight.firstBoxerName}>Mohamed Ali</td>
      <td th:text=${fight.secondBoxerName}>George Foreman</td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="score: ${scores}">
      <form method="post" th:action="@{/fights/{id}/score(id=${fight.id})}" th:object="${score}">
        <td>
          Round <span th:text="*{round}">1</span>
        </td>
        <td>
          <input type="hidden" name="firstBoxer" th:value="*{firstBoxer}"/>
          <input type="number" name="firstBoxerScore" th:value="*{firstBoxerScore}" value="10"/>
        </td>
        <td>
          <input type="hidden" name="secondBoxer" th:value="*{secondBoxer}"/>
          <input type="number" name="secondBoxerScore" th:value="*{secondBoxerScore}" value="9"/>
        </td>
        <td>
          <input type="hidden" name="round" th:value="*{round}"/>
          <input type="submit" value="Score!" class="button"/>
        </td>
      </form>
    </tr>
    <tr>
      <td>Total score</td>
      <td th:text=${scores.firstBoxerScore}>10</td>
      <td th:text=${scores.secondBoxerScore}>9</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
<div th:unless="${currentAccount}">
  <a id="create-account" href="/accounts/login/">Login or create an account in ScoreCards</a>
</div>
</div>
</body>
</html>