<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <title th:text="${'Fight: ' + fight.firstBoxerName + ' vs ' + fight.secondBoxerName}">Fight: Mohamed Ali vs George Foreman</title>
  <link th:href="@{/styles/main.css}" rel="stylesheet" href="../static/styles/main.css" />
</head>
<body>
<div layout:fragment="content">
<h1>Fight detail</h1>
Boxer 1: <p th:text=${fight.firstBoxerName}>Mohamed Ali</p>
Boxer 2: <p th:text=${fight.secondBoxerName}>George Foreman</p>
Event:
<p th:text=${fight.place}></p>
<p th:text=${fight.happenAt}>30-10-1974</p>
Number of rounds:
<p th:text=${fight.numberOfRounds}>12</p>

<div th:if="${accountId}">
  Score the fight:

  <ul style="border: 1px solid red;" th:if="${errors}">
    <li th:each="err : ${errors}">
      <p th:text="${err.fieldName}">a field</p>
      <p th:text="${err.message}">the error message</p>
    </li>
  </ul>
  <table>
    <thead>
    <tr>
      <td>Boxers</td>
      <td th:text=${fight.firstBoxerName}>Mohamed Ali</td>
      <td th:text=${fight.secondBoxerName}>George Foreman</td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="score: ${scores}">
      <form method="post" th:action="@{/fights/{id}/score(id=${fight.id})}" th:object="${score}">
        <td>
          Score the round <span th:text="*{round}">1</span>
        </td>
        <td>
          <input type="hidden" name="firstBoxer" th:value="*{firstBoxer}"/>
          <input type="number" name="firstBoxerScore" th:value="*{firstBoxerScore}" value="10"/>
        </td>
        <td>
          <input type="hidden" name="secondBoxer" th:value="*{secondBoxer}"/>
          <input type="number" name="secondBoxerScore" th:value="*{secondBoxerScore}" value="9"/>
        </td>
        <td>
          <input type="hidden" name="round" th:value="*{round}"/>
          <input type="submit" value="Score!"/>
        </td>
      </form>
    </tr>
    <tr>
      <td>Total score</td>
      <td th:text=${scores.firstBoxerScore}>10</td>
      <td th:text=${scores.secondBoxerScore}>9</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
<div th:unless="${accountId}">
  <a id="create-account" href="/accounts/login/">Login or create an account in ScoreCards</a>
</div>
</div>
</body>
</html>