<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1>Fight detail</h1>
Boxer 1: <p th:text=${fight.firstBoxerName}></p>
Boxer 2: <p th:text=${fight.secondBoxerName}></p>
Event:
<p th:text=${fight.place}></p>
<p th:text=${fight.happenAt}></p>
Number of rounds:
<p th:text=${fight.numberOfRounds}></p>

<div th:if="${accountId}">
  Score the fight:

  <ul style="border: 1px solid red;" th:if="${errors}">
    <li th:each="err : ${errors}">
      <p th:text="${err.fieldName}"></p>
      <p th:text="${err.message}"></p>
    </li>
  </ul>
  <table>
    <thead>
    <tr>
      <td>Boxers</td>
      <td th:text=${fight.firstBoxerName}></td>
      <td th:text=${fight.secondBoxerName}></td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="score: ${scores}">
      <form method="post" th:action="@{/fights/{id}/score(id=${fight.id})}" th:object="${score}">
        <td>
          Score the round <span th:text="*{round}">1</span>
        </td>
        <td>
          <input type="hidden" name="firstBoxer" th:value="*{firstBoxer}"/>
          <input type="number" name="firstBoxerScore" th:value="*{firstBoxerScore}"/>
        </td>
        <td>
          <input type="hidden" name="secondBoxer" th:value="*{secondBoxer}"/>
          <input type="number" name="secondBoxerScore" th:value="*{secondBoxerScore}"/>
        </td>
        <td>
          <input type="hidden" name="round" th:value="*{round}"/>
          <input type="submit" value="Score!"/>
        </td>
      </form>
    </tr>
    <tr>
      <td>Total score</td>
      <td th:text=${scores.firstBoxerScore}></td>
      <td th:text=${scores.secondBoxerScore}></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
<div th:unless="${accountId}">
  <a id="create-account" href="/accounts/login/">Login or create an account in ScoreCards</a>
</div>
</body>
</html>