<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{editor/layout}">
<head>
    <title>Edit boxer</title>
</head>
<body>
<div layout:fragment="content">
    <form th:action="@{/editor/boxers/{id}(id=${boxer.id})}" method="post" th:object="${boxer}">
        <h1>Edit a boxer</h1>
        <div class="callout alert small" th:if="${errors}">
            <h5>There is some error editing a boxer:</h5>
            <ul>
                <li th:each="err : ${errors}">
                    <span th:text="${err.message}"></span>
                </li>
            </ul>
        </div>
        <label>Name <input type="text" name="name" th:value="*{name}"
                           th:class="${errors?.hasError('name')}? fieldError"/></label>
        <label>Alias <input type="text" name="alias" th:value="*{alias}"/></label>
        <label>Boxrec URL <input type="url" name="boxrecUrl" th:value="*{boxrecUrl}"/></label>
        <input type="submit" value="Update!" class="button">
    </form>
</div>
</body>
</html>