<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{editor/layout}">
<head>
  <title>Boxers list</title>
</head>
<body>
<div layout:fragment="content">
<h1>Boxers</h1>

<a th:href="@{/editor/boxers/new}">Create boxer</a>
<ul th:if="${boxers}">
  <li th:each="boxer : ${boxers}">
    <span th:text=${boxer.name()}></span>.
    <span th:text=${boxer.alias()}></span>. <a th:href="${boxer.boxrecUrl()}" target="_blank"><span th:text=${boxer.boxrecUrl()}></span></a> |
    <a th:href="@{/editor/boxers/{id}(id=${boxer.id().value()})}">Go to the boxer</a>
  </li>
</ul>
</div>
</body>
</html>